<% @laundromats.each do |laundromat| %>
  <div class="card-product">
    <% if laundromat.photos.attached? %>
      <% laundromat.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    <% else %>
      <p>No photos available</p>
    <% end %>

    <div class="card-product-infos">
      <h2><%= link_to laundromat.name, laundromat_path(laundromat) %></h2>
      <p><%= laundromat.address %></p>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
<% end %>
