<!--<h1>Orders#confirmation</h1>
<p>Find me in app/views/orders/confirmation.html.erb</p>-->
<h1>Order Confirmation</h1>

<p>Your order has been placed successfully!</p>

<p><strong>Order ID:</strong> <%= @order.id %></p>
<p><strong>Total Price:</strong> R<%= @order.total_price %></p>
<p><strong>Status:</strong> <%= @order.status %></p>

<p><%= link_to 'Back to My Orders', orders_path %></p>
