<div class="container">
  <h1 class="page-title">All Laundromats</h1>

  <div class="laundromat-list">
    <% @laundromats.each do |laundromat| %>
      <%# This div needs class="laundromat-item" to be styled %>
      <div class="laundromat-item">
        <h2><%= laundromat.name %></h2>
        <p class="address"><%= laundromat.address %></p>
        <div class="actions">
          <%= link_to "View Details", laundromat_path(laundromat) %>
          <%= link_to "Book This Laundry", "#" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
