.chat {

    background: white;
    margin-top: 9px;
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    h1 {
      border-bottom: 1px solid $gray-200;
      margin-bottom: 0;
      padding: 1rem;
    }

    .messages {
      height: 100%;
      overflow: scroll;
      padding: 1rem;
    }

    #new_message {
      border-top: 1px solid $gray-200;
      padding: 1rem;

      .form-group {
        margin-bottom: 0;
      }
    }

    .messages {
      max-height: 300px;
      overflow-y: auto;
      background: #f8f9fa;
      padding: 1rem;
      border-radius: 0.5rem;
    }


  .message-info {
    opacity: 0.5;
    text-align: center;
    width: fit-content;
  }

  .message-content {
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    max-width: 70%;
    width: fit-content;
    word-wrap: break-word;
  }

  .message.sent .message-content {
    align-self: flex-end;
    background: $blue;
    color: $light-gray;
  }

  .message.received .message-content {
    align-self: flex-start;
    background: $gray-200;
  }

  .texts {
    background: #f8f9fa;
  }

}
// ----------------------------------------
// STYLES THAT MAKE THE TORN RECEIPT EFFECT
// ----------------------------------------
.receipt {
  $triangle-size: 4px;
  $stop1: $triangle-size * 1.42;
  $stop2: $triangle-size * 0.7;
  $stop1r: $stop1 + 0.01;
  $stop2r: $stop2 + 0.01;
  background:
    linear-gradient(135deg, transparent #{$stop1}, white #{$stop1r}) top left,
    linear-gradient(45deg, white #{$stop2}, transparent #{$stop2r}) top left,
    linear-gradient(135deg, white #{$stop2}, transparent #{$stop2r}) bottom left,
    linear-gradient(45deg, transparent #{$stop1}, white #{$stop1r}) bottom left;
  background-repeat: repeat-x;
  background-size: ($triangle-size * 2) $triangle-size;
  padding: $triangle-size 0;

  &-list {
    // You could add another linear-gradient for the white background
    // but background on this child div keeps the code MUCH simpler
    background-color: white;
  }
}

// -------------------
// STYLES FOR THE DEMO
// -------------------
html {
  background: #eee;
  padding: 20vh 5vw;
}

.receipt {
  filter: drop-shadow(0 2px 1px rgba(#000, 0.1));
  max-width: 320px;
  margin: 0 auto;

  &-list {
    background-color: #fff;
    padding: 30px;
  }

  &-item {
    border-bottom: 0.5px dashed #ccc;
    line-height: 1;
    overflow: hidden;
    font-family: monospace;
    font-size: 16px;

    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  &-label { float: left; }
  &-value { float: right; }
}
